/*.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &.centered {
        justify-content: center;
    }
    .meal-image {
        width: 200px;
        border-radius: 15px;
    }
    .video-button {
        margin-top: 20px;
        background-color: #c00;
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
        height: 22px;
        text-decoration: none;
        text-align: center;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 20px;
        p {
            font-size: 20px;
        }
    }
}*/
.row {
    display: flex;
    flex-wrap: wrap;
    .column {
        flex: 0 0 73%;
    }
    .floating {
        flex: 0 0 26%;
    }
}
.mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: initial;
    }
}