mat-toolbar {
    height: 80px;
    background-color: #fff;
    border-bottom: 1.7px solid #b7b7b7;
    padding: 0 25px;
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 60px;
            cursor: pointer;
        }
    }
    .navbar-spacer {
        flex: 1 1 auto;
    }
}
